*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    letter-spacing: 2%;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    background-color: #FFFFFF;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

ul,
ol {
    list-style-type: none;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}

a {
    text-decoration: none;
    transition-property: cursor;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

p {
    margin: 0;
}

img {
    display: block;
}

svg {
    fill: currentColor;
}

.container {
    width: 1158px;
    margin: 0 auto;
    padding: 0 15px;
}

.page-header {
    border-bottom: 1px solid #e7e9fc;
    box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08),
        0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 2px 1px 0 rgba(46, 47, 66, 0.08);
}

.page-header .container {
    display: flex;
    align-items: center;
}


.nav-panel {
    display: flex;
    align-items: center;
}

.nav-panel .menu-items {
    display: flex;
    flex-direction: row;
    gap: 40px;
}


.logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4D5AE5;

}

.page-header .logo {
    margin-right: 76px;
}

.studio {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #2E2F42;
}


.menu-item-link {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
    display: block;
    padding: 24px 0;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-item-link.current {
    position: relative;
}

.menu-item-link.current::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -1px;
    background-color: #404bbf;
    width: 100%;
    height: 4px;
    border-radius: 2px;
}

.menu-item-link:hover {
    color: #404bbf;
}

.menu-item-link:focus {
    color: #404bbf;
}

.menu-item-link:hover,
.menu-item-link:focus,
.menu-item-link.current {
    color: #404bbf;
}

address {
    font-style: normal;
    margin-left: auto;
}

.contacts {
    display: flex;
    align-items: center;
    gap: 40px;

}

.contacts-link {
    display: block;
    padding: 24px 0;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    letter-spacing: 0.02em;
    color: #434455;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.contacts-link:last-child {
    margin-right: 0;
}

.contacts-link:focus {
    color: #404BBF;
}

.contacts-link:hover {
    color: #404BBF;
}


.main-section {
    background-color: #2E2F42;
    padding: 188px 0;
    text-align: center;
    background-image: linear-gradient(to bottom,
            rgba(46, 47, 66, 0.7),
            rgba(46, 47, 66, 0.7)), url(../images/hero-image.jpg);
    max-width: 1440px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin: 0 auto;

}

.main-section-header {
    color: white;
    font-size: 56px;
    line-height: 1.07;
    font-weight: bold;
    text-align: center;
    letter-spacing: 0.02em;
    margin: 0 auto 48px auto;
    max-width: 496px
}

.main-section-button {
    background-color: #4D5AE5;
    color: #ffffff;
    font-weight: 500;
    cursor: pointer;
    line-height: 1.5;
    letter-spacing: 0.04em;
    border-radius: 4px;
    padding: 16px;
    height: 56px;
    display: block;
    min-width: 169px;
    border: none;
    margin: 0 auto;
    transition-property: background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

}

.main-section-button:hover {
    background-color: #404BBF;
}

.main-section-button:focus {
    background-color: #404BBF;
}

.section {
    padding: 120px 0;
}

.principles-list {
    display: flex;
    gap: 24px;
}

.principles-list-item {
    flex-basis: calc((100% - 3 * 24px) / 4);
}

.principles-list-icon {
    display: block;
    margin: 0 auto;
}

.principles-list-icon-container {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #8e8f99;
    border-radius: 4px;
    width: 264px;
    height: 112px;
    background: #f4f4fd;
    margin-bottom: 8px;
}


.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.section-header {
    font-weight: bold;
    size: 36px;
}

.section-text-header {
    color: #2E2F42;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    margin-bottom: 8px;
}

.section-text {
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.section.team {
    background-color: #F4F4FD;
}

.container.team {
    padding-left: 16px;
    padding-right: 16px;
}

.team-list {
    display: flex;
    flex-direction: row;
    gap: 24px;
}

.team-item {
    background-color: #FFFFFF;
    flex-basis: calc((100% - 3 * 24px) / 4);
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

.team-item-text-block {
    padding: 32px 0;
    text-align: center;
}

.team-item-text-block-social-network-icons-list {
    display: flex;
    margin-top: 8px;
    gap: 24px;
    justify-content: center;
}

.team-item-text-block-social-network-icons-item {
    width: 40px;
    height: 40px;
}

.team-item-text-block-social-network-icon-item-link {
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-item-text-block-social-network-icon-item-link:hover,
.team-item-text-block-social-network-icon-item-link:focus {
    background-color: #404bbf;
}

.team-item-text-block-social-network-icon {
    fill: #f4f4fd
}


.team-header,
.portfolio-header {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2E2F42;
    text-transform: capitalize;
    margin-bottom: 72px;
}

.team-member-header {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2E2F42;
}

.portfolio-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;
}

.portfolio-item {
    background-color: #FFFFFF;
    width: calc((100% - 48px) / 3);
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-item-box-for-overlay {
    position: relative;
    margin: 0 auto;
    background-color: #bdbdbd;
    overflow: hidden;
}


.portfolio-item-overlay-text {
    position: absolute;
    padding: 40px 32px;
    margin: 0;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    transform: translatey(100%);
    transition-property: transform;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    font-weight: 400;
    letter-spacing: 0.02em;
    color: #f4f4fd;
}

.portfolio-item:hover .portfolio-item-overlay-text {
    transform: translatey(0);


}

.portfolio-item:hover {
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
    cursor: pointer;
}


.portfolio-item-text-block {
    padding: 32px 16px;
    text-align: center;
    border: 1px solid #e7e9fc;
    border-top: none;
    text-align: left;
}


.footer {
    background-color: #2E2F42;
    padding: 100px 0;
}

.footer .container {
    display: flex;
    align-items: baseline;
}

.footer-branding-block {
    margin-right: 120px;
}

.footer .logo {
    display: inline-block;
    margin-bottom: 16px;
}

.footer-logo-studio {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #f4f4fd;

}

.footer-text {
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #F4F4FD;
    width: 264px;
}

.footer-social-media-header {
    font-weight: 500;
    font-size: 16px;

    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #fff;
    margin-bottom: 16px;
}

.footer-social-network-icons {
    display: flex;
    gap: 16px;
}

.footer-social-network-icon-link {
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-social-network-icon-link:hover,
.footer-social-network-icon-link:focus {
    background-color: #31d0aa;
}

.footer-social-network-icon-item {
    width: 40px;
    height: 40px;

}

.footer-social-network-icon {
    fill: #f4f4fd
}
